In [1]:
# pip install pymysql
import pymysql

# Connection(접속)
# 잘 기억이 나지 않는다면 show databases;
# mysql -u stest -p 비밀번호
db = pymysql.connect(
    host='127.0.0.1', 
    port=3306, 
    user='stest', 
    passwd='1234', 
    db='test'
)

cursor = db.cursor()

# SQL 문 작성
# 잘 생성되었는지 확인하기 - show tables;
sql = """
    create table pydbtest(
        id int unsigned not null auto_increment,
        name varchar(20) not null,
        price int not null,
        primary key(id)
    );
"""

# SQL Query 실행(메모리상에서 완료)
cursor.execute(sql)

# 실제 DB에 적용(commit)
db.commit()

# DB 닫기
db.close()

print("Table Creation Success")

Table Creation Success

In [2]:
import pymysql

db = pymysql.connect(
    host='127.0.0.1', 
    port=3306, 
    user='stest', 
    passwd='1234', 
    db='test'
)

cursor = db.cursor()

# SQL 문 작성
sql = """
    insert into pydbtest(name, price) values (%s, %s)
"""

# SQL Query 실행(메모리상에서 완료)
cursor.execute(sql, ('Xeon', 10000000))
cursor.execute(sql, ('OpenVINO', 30000000))
cursor.execute(sql, ('Nvidia RTX Titan', 4000000))

# 실제 DB에 적용(commit)
db.commit()

# DB 닫기
db.close()

print("Insert Success")

Insert Success

In [4]:
import pymysql

db = pymysql.connect(
    host='127.0.0.1', 
    port=3306, 
    user='stest', 
    passwd='1234', 
    db='test'
)

cursor = db.cursor()

sql = """
    select * from pydbtest;
"""

# Query를 실행한 이후 정보를 cursor가 가지고 있고
# fetch를 통해서 실제 값을 얻어와야 한다.
cursor.execute(sql)
rows = cursor.fetchall()  # select로 얻은 데이터 전부
print(rows)

# db.commit()은 실제 DB에 적용할 변경된 사항이 있을 경우에만 필요하다.
db.close()

print("Select Success")

((1, 'Xeon', 10000000), (2, 'OpenVINO', 30000000), (3, 'Nvidia RTX Titan', 4000000))
Select Success

In [5]:
import pymysql

db = pymysql.connect(
    host='127.0.0.1', 
    port=3306, 
    user='stest', 
    passwd='1234', 
    db='test'
)

cursor = db.cursor()

sql = """
    select * from pydbtest;
"""

cursor.execute(sql)

rows = cursor.fetchall()
for row in rows:
    print(row)

db.close()

print("Select Success")

(1, 'Xeon', 10000000)
(2, 'OpenVINO', 30000000)
(3, 'Nvidia RTX Titan', 4000000)
Select Success

In [7]:
import pymysql

db = pymysql.connect(
    host='127.0.0.1', 
    port=3306, 
    user='stest', 
    passwd='1234', 
    db='test'
)

cursor = db.cursor(pymysql.cursors.DictCursor)

sql = """
    select * from pydbtest;
"""

cursor.execute(sql)

rows = cursor.fetchall()
for row in rows:
    print(row)
    print(row['id'], row['name'], row['price'])

db.close()

print("Select Success")

{'id': 1, 'name': 'Xeon', 'price': 10000000}
1 Xeon 10000000
{'id': 2, 'name': 'OpenVINO', 'price': 30000000}
2 OpenVINO 30000000
{'id': 3, 'name': 'Nvidia RTX Titan', 'price': 4000000}
3 Nvidia RTX Titan 4000000
Select Success